<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 故意不声明 INTERNET 权限：激活工具不能访问网络。 -->
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:label="风吟离线激活工具"
        android:theme="@style/Theme.FengYinActivator"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
